@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
   }
   a{
	color: #fff;
	text-decoration: none;
	transition: ease 0.3s;
	
}
html{
	scroll-behavior: smooth;
}
header a:hover{
	border-bottom: 1px solid #fff;
	transition: ease 0.3s;
}

body{
	background: #f4f4f4;
	padding: 0;
	margin: 0px;
	line-height: 1.5em;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
/*	margin: 20px;*/
	transition: 0.25s;

}

header{
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 20px;
	height: 70px;
	width: 100%;
	background-color:#1999af;
	/*margin-right: 20px;*/
	margin-right: 20px;
	/*margin-left: 20px;*/
	transition: 0.25s;
	position: fixed;
	top: 0;
	z-index: 2;
	box-shadow: 0px 0px 20px grey;
	margin: 0 auto;
	animation: nav-load 300ms;
}

header .logo{
	margin: 20px;
	transition: 0.25s;

}

header .logo a{
	font-size: large;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	transition: 0.25s;
	
	
}



header .logo a:hover{
	text-decoration: none;
	/*border: none;*/

}

header .nav{
	margin: 20px;
	

}
header .nav :hover{
	background: #0d778a;
	text-decoration: none;
	border: 0;
	border-radius: 5px;
}
header .nav a{
	height: 25px;
    padding: 5px 10px;
    margin: 4px auto;
    font-size: 15px;
    font-weight: 300;
    
}

header .Sign{
	margin: 20px;
	padding: 0px 5px ;
}

header .Sign button{
	border: none;
	border-radius: 20px;
	background: #333;
	padding: 5px;
	transition: 0.25s;
}

header .Sign button a{
	border: none;
	transition: ease 0.3s;
	text-decoration: none;
	padding: 10px;
	/*margin: 3px;*/
}
header .Sign button:hover{
	background: #0d778a;
	transition: 0.25s;
	border-color: #333;
	
}
   
body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(2, 3, 3, 0.5)),url("hallway.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
}
.reg{
    margin-top: 60px;
    background-color: rgb(255, 255, 255,0.3);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5) ;
    width: 800px;
    max-width: 800px;
    padding:25px 40px 10px 40px;
    overflow: hidden;
    z-index: 1;
}
h1{
    font-size: 32px;
    text-align: center;
    color: #333;
    font-weight: 600;
}
.input-container{
    margin-top: 20px;
    position: relative;
    height: 45px;
    width: 100%;
    margin-bottom: 17px;
}
.input-container input{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove #000;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    color: #0b6879;
    z-index: 1;
    cursor: pointer;
    font-weight: 600;
}

::placeholder{
    color: transparent;
}
.input-container label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    font-size: 17px;
    transition: 0.5s;
    z-index: 0;
    color: #333;
    font-weight: 600;
  }
  input:focus + label {
    top: -18px;
    left: 3px;
    z-index: 10;
    font-size: 17px;
    color:#333;
    font-weight: 600;
    
  }
  
  input:not(:placeholder-shown)+ label {
    top: -18px;
    left: 3px;
    z-index: 10;
    font-size: 17px;
    font-weight: 600;
  }

  .input-container select{
    margin-top: 20px;
    width: 100%;
    outline: none;
    background: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: 4px groove #000;
    color:#0b6879;
    padding-left: 18px;
    font-weight: 600;
    font-size: 16px;
    

  }
  .input-container option{
    padding-left: 20px;
  }
  .input-container  span{
    position: absolute;
    left: x;
    top: -2px;
    padding: 0 4px;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
    color: #333;
    font-weight: 600;
  }

  select :focus + span{
    bottom: 18px;
    left: 3px;
    z-index: 10;
    font-size: 16px;
    color:#333;
    font-weight: 600;
  }
  
 
  .submitbtn input{
    
    align-content: center;
    padding: 5px 30px;
    border: none;
    background-color: #1999af;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    

  }
  
  .submitbtn input:hover {
    background-color: #094752;
    transform: translateY(-2px);
  }